body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

ul#toc {
  list-style: none;
  margin: 0;
}

ul#toc li {
  display: inline-block;
  padding: 5px;
}

/* Baldwin Style */

body {
  background:#EDEDED;
}
.container-narrow {
  background: #fff;
  border: 1px solid rgba(0,0,0,.15);
  padding:20px;
  margin:40px auto;
}

h3.muted {
  color: #333333;
  font-family: 'Lora', Georgia, Arial, serif;
  font-size: 50px;
  font-weight: normal;
  line-height: 54px;
  text-align: center;
}

h3.muted span {
  display:block;
  color:#999999;
  font-size: 18px;
  line-height: 28px;
}

p {
  color: #333333;
  font-family: 'Lora', Georgia, Arial, serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 28px;
}

a {
  color: #c73036;
  text-decoration: underline;
}

a:hover {
  color: #333333;
  text-decoration: underline;
}

.author {
  color: #8d8d8d;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 28px;
}

.author a {
  color: #c73036;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

h4 {
  color:#999999;
  text-align: right;
  font-weight: normal;
  font-family: 'Lora', Georgia, Arial, serif;
  font-size:14px;
}

.email {
  border: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #EEE;
  padding:40px 0;
}

img {
  width:80%;
  text-align: center;
  border:none !important;
  padding:none !important;
}
